@font-face {
    font-family: 'Noto Sans JP';
    src: url(../fonts/NotoSans_JP/NotoSansJP-ExtraLight.ttf);
}

@font-face {
    font-family: 'Lexend Semi Bold';
    src: url(../fonts/Lexend/Lexend-SemiBold.ttf) format('truetype')
}

@font-face {
    font-family: 'Inter Regular';
    src: url(../fonts/Inter/Inter-Regular.ttf) format('truetype')
}

@import './mixins.scss';
@import './variables.scss';
@import './resume.scss';

* {
    box-sizing: border-box;
    // display: block;
}

$gradient: linear-gradient(45deg, #09009f, #ffd5b0 80%);

body {
    unicode-bidi: isolate;
    min-height: 100vh;
    font-size: 1.10832em; /* 14px */
    line-height: 1.85rem; /* 20px */
    font-weight: 400;
    font-family: 'Inter Regular', sans-serif;
    color: #525252;
    text-rendering: optimizeLegibility;
    padding-top: 8.72725rem;
    // grid-template-columns: 1fr minmax(calc(100vw - 66ch), 66ch) 1fr;
    // grid-template-rows: auto auto 1fr auto;
}

.big-title {
    --fluid-type: clamp(4.25rem, -0.625rem + 8.125vw, 7.5rem);
    font-size: var(--fluid-type, 2.3em);
    text-transform: uppercase;
    color: #222;
    margin: 0 0 0.5em;
    font-weight: 900;
}

.token.deleted {
	background-color: hsl(350deg 100% 88% / 47%);
}
.token.inserted {
	background-color: hsl(120deg 73% 75% / 35%);
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
	-webkit-user-select: none;
	user-select: none;
}

/*
.acrylic {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
*/

.dark {
    background: rgba(8, 15, 17, .85);
    border-bottom: rgba(.11, .13, .15, 1.0);
}


.no-margin {
    margin: 0;
}

.grid {
    display: grid;
}

.gap {
    gap: 1em;
}

#site_header, h1, nav, main, footer {
    // grid-column: 2;
    text-align: left;
}

main {
    grid-template-columns: 1fr minmax(calc(100vw - 66ch), 66ch) 1fr;
    grid-template-rows: auto auto 1fr auto;
}

main > article {
    grid-column: 2;
}

.side-title {
    font-size: 11vw;
    font-family: 'Lexend Semi Bold', sans-serif;
    text-decoration: underline;
}

.about {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    transition: max-height 0.15s ease-out;
}

.about-readmore {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height:  60px;
    text-align: right;
    padding-top: 37.178252px;
    // background: linear-gradient(to bottom, transparent, white);
    font-weight: 600;
    cursor: pointer;
}

.about-readmore::after {
    content: "Read More...";
}

.primary-gradient {
    background: -webkit-linear-gradient(45deg, #09009f, #ffd5b0 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.secondary-gradient {
    background: -webkit-linear-gradient(30deg, #09009f, #ffd5b0 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.noto-sans-jp-extralight {
    font-family: 'Noto Sans JP', 'sans-serif';
    font-optical-sizing: auto;
    font-weight: 490;
    font-style: normal;
}

.screen-reader-text {
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}

footer {
    margin-top: 7rem;
    border-top: 1px solid #dbdbdb;
    color: #666;
    font-size: medium;
    text-align: center;
    width: 100%;
}

.foot-wrapper {
    margin: 0 auto;
    max-width: 962px;
    position: relative;
}

.social-links > a {
    color: #dbdbdb;
    display: inline-block;
    padding: 17.25px 17.25px 0;
}

/*
nav {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
*/

/*
body::before {
    content: "";
    background: $gradient;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
    */

nav a {
    color: inherit;
    //text-decoration: none;
    text-align: center;
    // padding: .5em;
    margin: 0 4px;
    // border: 1px solid rgba(0, 0, 0, 0.088);
}

/*
a:not([class]) {
    color: rgb(158, 0, 101);
    border-bottom: 1px solid rgb(255, 209, 228);
    box-shadow: rgb(255, 209, 228) 0 -2px 0 0 inset;
    text-decoration: none;
}
*/

a:not([class]) {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #4caf50;
}

h1 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.3;
}

time {
    color: #666;
    font-size: small;
}

.main-navbar {
    // grid-column: span 3;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 30;
    width: 100%;
    align-items: stretch;
    border-bottom: 1px solid #dbdbdb;
    background-color: white;
    // box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/*
.navbar-rail { 
    margin: 0 auto;
    position: relative;
    max-width: 960px;
    //background-color: white;
    display: flex;
    // padding: 6.067256px 0;
}
*/

.navbar-rail {
    align-items: center;
    padding-left: 18px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    min-height: 3.25rem;
    width: 100%;
}

.navbar-rail > h1 {
    margin: auto;
}

.hamburger {
    color: #4a4a4a;
    cursor: pointer;
    height: 3.25rem;
    width: 3.25rem;
    position: relative;
    margin-left: auto;
}

.container {
    align-items: stretch; 
    display: flex; 
    width: 100%; 
    min-height: 3.25rem;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
}

$burgerStripesLineHeight: 6px, 1px, -4px;

@for $i from 1 through 3 {
    .hamburger span:nth-child(#{$i}) {
        $height: nth($burgerStripesLineHeight, $i);
        top: calc(45% - $height);
        left: calc(50% - 8px);
        z-index: -99;
        width: 16px;
        height: 1px;
        background-color: currentColor;
        transition-timing-function: ease-out;
        transition-duration: 96ms;
        position: absolute;
    }
}

.hamburger.active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
    -webkit-transform: translateY(5px) rotate(45deg);
    -moz-transform: translateY(5px) rotate(45deg);
    -o-transform: translateY(5px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
    -webkit-transform: translateY(-5px) rotate(-45deg);
    -moz-transform: translateY(-5px) rotate(-45deg);
    -o-transform: translateY(-5px) rotate(-45deg);
}

.navbar-menu {
    display: none;
}

.navbar-menu.active {
    position: absolute;
    width: 100%;
    display: grid;
    margin-top: 3.25rem;
    height: calc(100vh - 3.25rem);
    background-color: white;
    transform: translateY(0);
    transition: all .5s ease-out;
}

.navbar-menu.active > .navbar-end > a {
    margin-top: 3.25rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    display: block;
}

.notes-details {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
}

.notes-details > p {
    font-weight: 600;
    font-size: smaller;
}

.notes-details-summary {
    display: flex;
}

.notes-details-summary > a {
    margin-left: 2rem;
}

@include respond(md) {
    body {
        font-size: 1.1875em; /* 16px */
        line-height: 1.65; /* 24px */
    }

    .notes-details {
        justify-content: space-between;
        flex-direction: row;
    }

    .notes-details-summary > a {
        margin-top: auto; 
        margin-bottom: auto;
    }
}

@include respond(lg) {
    .hamburger {
        display: none;
    }

    .navbar-rail {
        width: fit-content;
    }

    .navbar-menu {
        margin-right: -.75rem;
        display: block;
        flex-grow: 1;
        flex-shrink: 0;
    }

    .navbar-end {
        justify-content: flex-end;
        margin-left: auto;
        display: flex;
        align-self: stretch;
    }
    
    .navbar-end > a {
        padding: 0.5rem;
    }

    .container {
        max-width: 960px;
    }

    footer {
        padding: 32px 32px 0;
    }

    .social-links > a {
        margin: 16px;
    }
}


